html {
  scroll-behavior: smooth;
}
nav .row {
  margin: 1em;
}
a:hover{
  text-decoration:none;
}
header {
  height: 100vh;
  // background-color: lightblue;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  flex-flow: column;
  align-items: center;
      li {
      list-style:none;
      margin: .5em;
    }
  .logo {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;

    h1{
      padding-bottom: 2em;
    }
  }
}

main {
  // background-color: lightgray;
}

.grille-vente {
  padding-top: 2em;

  .grille {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    /* flex-flow: row; */
    // justify-content: start;
    align-items:center;
    padding-top: 2em;

    .item {
      >a{
        margin: 1em 0;
        height: auto;

        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        flex-flow: column;
        justify-content: center;
        align-items: center;

        img{
          max-height:150px;
        }
      }
    }
  }
}
