.titre, .Tpage{
    color: white;
    font-family: rage, sans-serif;
    font-size: 4em;
}
a, article, p, h1{
    color: white;
    font-family: Raleway, sans-serif;
}
a:hover{
    color: dimgrey;
    text-decoration: none;
}