body { margin: 0; overflow-x: hidden; font-size: 16px; background: #1F1D1D;}
canvas { display: block; }
p,a {
  font-size: 1.5em;
}
h1, nav {
  color: gray;
  position: absolute;
}
h1 {
  top : calc(50% - 16px);
  left: calc(50% - 235px);
  font-size: 3em;
}
nav {
  top: 25px;
  left: 25%;
  width: 50%;
}
nav>ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  flex-flow: row;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: gray;
}
li:hover>a {
  color: white;
}
section {
  height: 100vh;
  background: linear-gradient(black, transparent);
}
.header {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 4em;
    left: calc(50% - 315px);
  }
  nav  a {
    font-size: 1em;
  }

}
@media (min-width: 780px) {
  a {
    font-size: 1em;
  }
}
