//Variables
$font-color: #b9b9b9 ;
$primary-color: #1f1d1d;    //dark gray
$secondary-color: #FFFFFF; // white
$black: #000000;           // black
$hover-color: #999999;     // light gray

//Classes
.blk{ color: $primary-color }

.relat{ position: relative; }
.abslt{ position: absolute; }

.bgWhite {
  background-color: $secondary-color;

  p, a,strong, button, h1, h2 {
    color: $primary-color;
  }
  p>a:hover {
    color: $primary-color;
  }
  .button {
    color: $primary-color;
    border: $primary-color;

    &:hover {
      background-color: $primary-color;
    }
  }
}

.flip-h { transform: scaleX(-1); }

.fixed { position: fixed; }

.bold { font-weight: bold; }

.ligne
{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.column { display:flex; flex-flow: column }
.row { flex-flow: row }
.algn-center { align-items: center }


.TextCenter { text-align: center }

.prt-width { width: 100%; }

.off {display: none!important;}
.on {display: visible;}

.m-a { margin: auto }
.m-0a { margin: 0 auto }

.m0 { margin: 0 }
.m-s { margin: 2rem; }
.m-m { margin: 5rem; }
.m-l { margin: 8rem; }

.m-t-xs {margin-top: 1rem;}
.m-t-s {margin-top: 2rem;}
.m-t-m {margin-top: 5rem;}
.m-t-l {margin-top: 8rem;}

.m-b-xs {margin-bottom: 1rem;}
.m-b-s {margin-bottom: 2rem;}
.m-b-m {margin-bottom: 5rem;}
.m-b-l {margin-bottom: 8rem;}

.m-l-0 {margin-left: 0;}
.m-l-xs {margin-left: .5rem;}
.m-l-s {margin-left: 1rem;}
.m-l-m {margin-left: 1.5rem;}
.m-l-l {margin-left: 2rem;}

.m-r-0 {margin-right: 0;}
.m-r-xs {margin-right: .5rem;}
.m-r-s {margin-right: 1rem;}
.m-r-m {margin-right: 1.5rem;}
.m-r-l {margin-right: 2rem;}

.m-t-b-xs {margin: .5rem 0 .5rem 0;}
.m-t-b-s {margin: 1rem 0 1rem 0;}
.m-t-b-m { margin-top: 3rem; margin-bottom: 3rem; }
.m-t-b-l { margin-top: 6rem; margin-bottom: 6rem;}

.p0 { padding:0; }

.p-b-xs {padding-bottom: 1rem;}
.p-b-s {padding-bottom: 2rem;}
.p-b-m {padding-bottom: 5rem;}
.p-b-l {padding-bottom: 8rem;}

.button {
  padding: .7em 1.5em;
  background-color: transparent;
  border:  $secondary-color solid 2px;
  color: $secondary-color;
  border-radius: 50px;
  &:hover {
    transition: color .2s, background-color .2s;
    background-color: $secondary-color;
    color: $primary-color;
    cursor: pointer;
  }
}
.btn-wht {
  color: $primary-color;
  border: 2px solid $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

//Typo
p, a, button, router-link, strong {
  font-family: spartan;
  font-weight: 400;
}
p>a:hover {
  color: $secondary-color;
}

h1, h2, h3 {
  font-family: lato;
}
h2 {
  font-size: 2em;
}
.light {
  font-family: spartan;
  font-weight: 400;
}



//General

body {
  background: linear-gradient(#000000 25%, #1f1d1d 50%);
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
}
* {
  color: $secondary-color;
}
header {
  width: 100vw;
  max-width: 100%;
  height: 100vh;

  overflow-x: hidden;
}
a, router-link {
  color: $secondary-color;
  text-decoration: none;
  &:hover {
    color: $hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}
li {
  list-style-type: none;
}
canvas {
  display: block;
  overflow-y: hidden;
}
#menu {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
#mainNav {
  z-index: 999;
  animation: appear .5s ease-in-out;
  a:hover {
    color: $hover-color;
  }
  img {
    width: 4em;
    // margin-bottom: -2em;
  }
  ul {
    justify-content: space-evenly;
    position: relative;
    border-bottom: 1px solid $secondary-color;
  }
  >ul>li{
    width: 7rem;
    text-align: center;
    .subMenu {
      position: absolute;
      border-bottom: none;
      display: none;
      min-width: 110%;
      background-color: $primary-color;
      padding: 0 .5em;
      
      li {
        margin: .3rem 0;
      }
    }
  }
  .lang {
    display: inline-block;
  }
}
#mainNav>ul>li:hover .subMenu {
  display: block;
}
section {
  min-height: 100vh;
}

footer {
  width: full-width;
  height:20vh;
  background-color: $secondary-color;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  flex-flow: row;
  justify-content: center;
  align-items: center;

  border-top: 1px solid $primary-color;

  a, p, router-link {
    color: $primary-color;
    margin-right: 1em;
  }
}


header > div > div.ligne > img.animated.fadeIn.img_desk {
  width: 100%;
}
.img_mobile {
  display: none;

  border-radius: 15px;
}
//Les header des 4 pages principales
.diag {
  header>div{
    height: 75%;
  }
  & header::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 10vh 50vw;
    border-bottom-color: white;
    border-left-color: white;
  }

  .monTravail {
    img{
      height: auto;
      width: auto;
    }
  }
}


html nav.changeColor {
  img {
    filter: invert(9%) sepia(33%) saturate(0%) hue-rotate(264deg) brightness(0) contrast(100%);
  }
  a, router-link {
    animation: color 1s ease-in-out;
    color: $primary-color;
    font-weight: bold;
    &:hover {
      color: $hover-color;
    }
  }
  .subMenu a {
    color: $secondary-color;
    font-weight: 400;
    &:hover {
      color: $hover-color;
    }
  }
  ul {
    animation: border-bottom 1s ease-in-out;
    border-bottom: 1px solid $primary-color!important;
  }
}

#mobNav {
  z-index: 9999;
}
.menu-icon {
    position: relative;
    padding: 0.3rem;
    display: inline-flex;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 1040;
}
.menu-icon-box {
    width: 26px;
    height: 26px;
    display: inline-block;
    position: relative;
}
.menu-icon-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.menu-icon-inner,
.menu-icon-inner::before,
.menu-icon-inner::after {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $secondary-color;
}
.menu-icon-inner::before,
.menu-icon-inner::after {
    content: "";
    display: block;
}
.menu-icon-inner::before {
    top: -8px;
}
.menu-icon-inner::after {
    bottom: -8px;
}


.menu-active .menu {
    transform: translateX(0);
}
.menu {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $hover-color;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1030;
    transform: translateX(-100%);
    transition: transform 300ms cubic-bezier(.2, 0, .2, 1);
}
.menu-inner {
    display: flex;
    flex-direction: column;
    >ul {
      a:hover {
        color: $primary-color;
      }
      >li {
        margin: 2em 0;
        ul {
          display: none;
          li {
            margin: .5em 0;
          }
        }

        &:hover > ul {
          display: block;
        }
      }
    }
}


.contains {
    max-width: 1024px;
    margin: 1em;
    text-align: right;

}

@media (max-width:767px) {

  header.ligne {
    flex-flow: column-reverse;
    justify-content: space-around;
  }

  .img_mobile {
    display: block;
  }

  #app #menu #mainNav {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  #mainNav {
    display: none!important;
  }
  #app #menu {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 768px) {
  #mobNav {
    display: none;
  }
}
