/*  VARIABLES  */
* {
  box-sizing: border-box;
}
//Tailles
@szparent:100%;

//Couleurs
@black : #1f1d1d;
@white : #b9b9b9;


/* CLASSES  */

.nmlz(){
  padding: 0;
  margin: 0;
}

.visible() {display: block;}

//Heights
.mxht(){max-height: fit-content;}

.ht-s() {height: 80vh;}
.ht-l {height: 150vh}

//Couleurs
.bgwhite{
  background-color: white;
}

//Boutons
//parent
.buttons{
  display: flex;

  a{
    max-height: max-content;
    min-width: max-content;
    height: max-content;
    width: max-content;

    max-height: -moz-fit-content;
    height: -moz-fit-content;
    min-width: -moz-max-content;
    width: -moz-max-content;

    max-height: -webkit-max-content;
    height: -webkit-max-content;
    min-width: -webkit-max-content;
    width: -webkit-max-content;
  }
}

.bouton{
  border: 2px @white solid;
  padding: .5em 1em;
  border-radius: 50px;
  color: @white;
  transition: all 0.2s ease-in-out;

  margin: .5em;
  text-align: center;

  &:hover {
    background-color: @white;
    color: @black;
  }
}
.bouton_white{
  border: 2px @black solid;
  color: @white;

  &:hover{
  background-color: @black;
  border: 2px @black solid;
  color: white;
  }
}
.bouton_pcl {
  background-color: @white;
  border: 2px @white solid;
  color: @black;
  &:hover{
    background-color: gray;
    border:2px solid gray;
    // color: @white;
  }
}

//Diagonales
.diagonW(){
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 10vh 50vw;
  border-bottom-color: white;
  border-left-color: white;
}
.diagonB(){
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 10vh 50vw;
  border-bottom-color: @black;
  border-left-color: @black;
}
//Sites webs sur page index
#sitesweb::after, #mezclamayor .monTravail::after{
  .diagonW;
}
//Section mon travail + com index
.diag .monTravail, #communication, #mezclamayor>header{
  &::after{
    .diagonB;
  }
}
//Les header des 4 pages principales
.diag {
  header>div{
    height: 75%;
  }
  & header::after{
    .diagonW;
  }

  .monTravail {
    img{
      height: auto;
      width: auto;
    }
  }
}
.monTravail, #communication {
    padding-bottom: 20vh;
}


//Lignes
.rightline{
  border-right: @white 2px solid;
  //height: 100%;
}
.leftline{
  border-left: @black 2px solid;
}
.topline{
  border-top: @white 2px solid;
}



//Margins
.margin-0() {margin: 0;}
.m-l-0 {margin-left: 0;}

.margin-small {margin: 1rem;}

.m-t-xs {margin-top: 1rem;}
.m-t-s {margin-top: 2rem;}
.m-t-m {margin-top: 5rem;}
.m-t-l {margin-top: 8rem;}

.m-l-s {margin-left: 1rem;}
.m-l-m {margin-left: 1.5rem;}
.m-l-l {margin-left: 2rem;}

.m-t-b-xs {margin: .5rem 0 .5rem 0;}
.m-t-b-s {margin: 1rem 0 1rem 0;}
.m-t-b-m {margin: 3rem 0 3rem 0;}
.m-t-b-l {margin: 6rem 0 6rem 0;}


//Paddings
.p-0() {padding: 0;}
.padding-small {padding: 1rem;}
.padding-medium {padding: 3rem;}
.padding-large {padding: 6rem;}

.p-t-s {padding-top: 2rem;}
.p-t-m {padding-top: 5rem;}
.p-t-l {padding-top: 8rem;}

.p-r-xxs {padding-right: 1rem;}
.p-r-xs {padding-right: 2rem;}
.p-r-s {padding-right: 2.5rem;}
.p-r {padding-right: 5rem;}
.p-r-l {padding-right: 8rem;}

.p-b-s() {padding-bottom: 1rem;}
.p-b-m {padding-bottom: 1.5rem;}
.p-b-l {padding-bottom: 2rem;}

.p-l-s() {padding-left: 1rem;}
.p-l-m {padding-left: 1.5rem;}
.p-l-l {padding-left: 2rem;}

.p-t-b-xs {padding: .5rem 0 .5rem 0}
.p-t-b-s {padding: 1rem 0 1rem 0}
.p-t-b-m {padding: 3rem 0 3rem 0}
.p-t-b-l {padding: 6rem 0 6rem 0}



/*  CLASSES IMAGINAIRES  */

.nmlz{.nmlz;}
.mxheight{.mxht;}

.visible{.visible;}

.ht-s{.ht-s;}

.m-0 {.margin-0;}

.m-s {.margin-small;}

.m-t-s {.m-t-s;}
.m-t-m {.m-t-m;}
.m-t-l {.m-t-l;}

.m-l-s {.m-l-s;}
.m-l-m {.m-l-m;}
.m-l-l {.m-l-l;}

.m-t-b-xs {.m-t-b-xs;}
.m-t-b-s {.m-t-b-s;}
.m-t-b-m {.m-t-b-m;}
.m-t-b-l {.m-t-b-l;}

.p-0 {.p-0;}

.p-s {.padding-small;}
.p-m {.padding-medium;}
.p-l {.padding-large;}

.p-t-b-xs {.p-t-b-xs;}
.p-t-b-s {.p-t-b-s;}
.p-t-b-m {.p-t-b-m;}
.p-t-b-l {.p-t-b-l;}

.p-t-s{.p-t-s;}
.p-t-m{.p-t-m;}
.p-t-l{.p-t-l;}


//Animation
@keyframes flou {
  0%{
    filter: blur(0);
    -webkit-filter: blur(0);
  }
  75%{
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  100%{

  }
}




/*-----------------------------------------------*/


ul {
  list-style: none;
}

//Regle la taille & fluidifie scroll
html{
  // scroll-behavior: smooth;
  height: 100%;
}

//Couleur de fond & cache ce qui depasse
body{
  margin: 0;
  background-color: @black;

  overflow-x: hidden;
  position: relative;


}
header, section{
  height: 100vh;
  position: relative;

}
//Petit logo pages contenu
.logo, .bouton, nav ul {
  z-index: 999999;
}
header{
  img{
    width: @szparent;
  }
  //Remplace le titre par le logo
  #headtitle{

    padding: 200px 0 0 0;
    overflow: hidden;
    background-image: url("../media/logo.svg");
    background-position: center;
    -moz-background-image: url("../media/logo.svg");
    background-repeat: no-repeat;
    height: 0 !important;

  }
}
.img_mobile {
  display: none;

  border-radius: 15px;
}

//Evite les bugs sur la page d'accueil
#accueil{
  .vist{
    justify-content: normal;
    height: auto;
    padding-bottom: 5vh;
    h2{
      margin-top: 1em;
      width: 35vw;
      text-align: center;
    }
  }
  header {
    nav {
      >ul {
        a:hover {
          opacity: .5;
        }
        li {
          text-align: center;
          width: 7rem;
          ul {
            background:rgba(255,255,255,0.05);
            border-radius: 5px;
            display: none;
          }
          &:hover{
            ul{
              .visible;
              position: absolute;
              max-width: 7rem;

            }
          }
        }
      }
    }
  }
  .bgsites {
    min-height: 400px;
    background: transparent;
  }
}

.autre{
  header{
    & div:last-of-type{
      height: 100%;
      position: absolute;
      top: 40%;
      // left: 5%;
      z-index: 2;
      opacity: 1;
      animation: appear 2.5s ease-in-out;
    }
    nav{
      position: absolute;
      top: 2%;
      z-index: 2;
    }
  }
  @keyframes appear {
    0%{
      opacity: 0;
    }
    75%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .bgimg{
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100%;
    width: 100%;

    filter: blur(10px);
    -webkit-filter: blur(10px);

    animation: flou 1.5s ease-in-out;

    z-index: -1;
  }
}

// Page sites Hebdomadaire
#hebdomadaire {
  header {
    // height: auto;
    padding-bottom: 2em;
  }
  main {
    // padding: 2em;
    height:100vh;
  }
}
#hebdo{
  width:100vw;
  height:100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: wrap;
  justify-content:flex-start;
  align-items:flex-start;
  width:auto;
  height: auto;

  box-sizing: border-box;
  a{
    margin: 1em;

    p{
      // border-top: 1px white solid;
      margin-top: .5em;
      position: relative;
      &:before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        transform:translate(16%, -50%);
        border-top:1px  @black solid;
        width:75%;
        height:1px;
      }
    }
  }
  .site{

    height:200px;
    // border-radius: 5px;
    text-align:center;

    .site {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
    }

    img {
      // margin-left: -4.7em;

      width: auto;
      height: 100%;
    }
  }


}

//Page Defi24h
#defi {
  header {
    div {
      &:last-of-type{
        h2,p,a{
          color: @black;
        }
      }
    }
  }
  .vist{
    >div{
      //max-height: 70vh;
    }
  }

  .bgimg {
    background-image: url("../media/epopee.PNG");
  }
}

//Page Video MMI
#vidmmi {
  header{
    h1,p,a{
      color: @black;
    }
  }

  main {
    section {
      .container {
        .monTravail {
          .ligne {
            width: 80vw;
            height: auto;
          }
        }
      }
    }
  }

  .bgimg {
    background-image: url("../media/departmmi.jpg");
  }
}

//Page Boss
#boss {
  main {
    section {
      .container {
        .monTravail {
          .ligne {
            width: 80vw;
            height: auto;
          }
        }
      }
    }
  }

  .bgimg {
    background-image: url("../media/gore.jpg");
  }
}

#waw-cont {
  //overflow-x: hidden;

  overflow: hidden;
}

//Largeur du mockup Pc
#pcmoc{
  width: 70%;
}

//Taille du téléphone
#img_mezcla{
  max-height: 100vh;
  img{
    width: @szparent;
  }
}

/*  Acordéon + Grille */
//Taille des images de la galerie
.img_gallerie{
  height: 320px;
  width: 640px;
}

.accordian {
  width: 775px; height: 320px;
  overflow: hidden;

  //margin: 100px auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}
.accordian ul {
  width: 2000px;
}
.accordian li {
  position: relative;
  display: block;
  width: 160px;
  float: left;


  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.accordian ul:hover li {width: 40px;}
.accordian ul li:hover {width: 640px;}
.accordian li img {
  display: block;
}

.image_title {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0; bottom: 0;
  width: 640px;

}
.image_title a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}
//Cache grille autres projets
.grid{
  display: none;
  list-style-type: none;
}
.grid{
  a{
    background-position: center;
    list-style-type: none;
    &:nth-child(1){
      background-image: url("../media/departmmi_petit.jpg");
    }
    &:nth-child(2){
      background-image: url("../media/epopee_petit.jpg");
    }
    &:nth-child(3){
      background-image: url("../media/gore_petit.jpg");
    }
  }
}
.links {
  // background-image: url('../media/epopee.PNG');
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: center;
  height:20vh;
  // width: 50%;
  border-radius: 15px;
  // margin-top: 3rem;
  &:hover {
    opacity: .7;
    transition: all 0.2s ease-in-out;
  }
}
//Taille,couleur footer
footer{
  height: 15vh;
  background-color: #888888;
  //margin cotes & couleur + hover
  a{
    margin: 0 1em;
    color: @black;
  }
}




/*-----------------------------------------------*/




//LARGE SCREEN
@media (max-width: 1200px) {
  #boutonSites {
    flex-flow:wrap;
    justify-content:center;
  }
}


@media (min-height: 1025px) and (orientation: landscape) {
  section{
    height: 70vh;
    &.vist{
      .p-t-b-l;
      height: auto;
    }
    #pcmoc {
      width: 50%;
      position: absolute;
      top: 10%;
      right: -20%;
    }
  }

}
@media (min-height) and (orientation: landscape) {
  #pcmoc {
    width: 50%;
    top: 10%;
  }
}

@media (max-width: 1025px) and (orientation: portrait) {
  #accueil {
    header {
      height: 95vh;
    }
  }

  //Texte header pages autres toute largeur
  .autre header div:last-of-type {
    left:0;
  }

  section{
    height: 70vh;
    &.vist{
      .p-t-b-l;
      height: auto;
    }
  }
  #img_com {
    max-width: 100%;
  }
  #sitesweb{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sitesweb{
    &>div{
      display: flex;
      flex-flow: column-reverse;
      justify-content: center;
    }

    div:last-of-type{
      max-height: fit-content;
    }
  }
  #communication{
    div:first-of-type{
      display: flex;
      flex-flow: column;
      max-width: 540px;
      .buttons{
        display: none;
      }
      #img_com{
        a{
          width: 40vw;

          img{
            border-radius: 10px;
          }
        }
      }
    }
  }

}

//MEDIUM SCREEN
@media (max-width: 991px) {

  .diag {
    .monTravail{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      //centre les boutons
      div:first-of-type{
        display: block;
        .mxht;
        div:last-of-type{
          display: flex;
          flex-flow: column;
          align-items: center;
        }
      }
      #trigger-right{
        .mxht;
      }
      #img_mezcla{
        .m-s;
      }
    }
  }
  #pcmoc {
    position: absolute;
    top : 25%;
  }

}

//SMALL SCREEN
@media (max-width:768px) {

  html {
    overflow-x: hidden;
  }
  #affjur {
    width: 40%;
  }

  body {
    #lang {
      margin-left: .5em;
      display: inline-block;
    }
    section {
      height: 100vh;
    }
    h1 {
      font-size: 2em!important;
    }
    h2, h3 {
      font-size: 1.5em !important;
      // text-align: center;
      padding-top: .5em;
    }
    main {
      section.container.monTravail.ligne {
        display: flex;
        flex-flow: column;
        img {
          width: 100%;
        }
      }
    }
  }


  .img_mobile {
    display: block;
  }
  .img_desk {
    display: none;
  }


// body > main > section.container.monTravail.ligne > img
  p{
    font-size: .75em !important;
  }

  .buttons{
    justify-content: center;
  }

  .diag{
    header{
      overflow: hidden;
      &>div:first-of-type{
        display: flex;
        flex-flow: column-reverse;
        position: relative;
      }
      .container {
        img {
          position: absolute;
          //bottom: -40%;
          left: 0;
          top: 15%;
          max-height: none;
        }
      }
      img{
        max-height: 100%;
      }
    }
    .monTravail{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      //centre les boutons
      div:first-of-type{
        div:last-of-type{
          display: flex;
          flex-flow: column;
          align-items: center;
        }
      }

      div{
        max-height: fit-content;

      }
      #img_mezcla{
        width: fit-content;
        img {
          width: 20vw;
        }
      }
      .dosrs{
        width: 40vw;
      }
    }
    #pcmoc{
      position: initial;
    }

  }

  /*  PAGE ACCUEIL  */
  #accueil{
    header{
      height: 90vh;
    }
    h1{
      font-size: 5em!important;
    }
    .vist h2{
      width: auto;
    }
    #img_com {
      max-width: 100%;
    }
    #sitesweb{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #sitesweb{
      &>div{
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
      }

      div:last-of-type{
        max-height: fit-content;
      }
    }
    #communication{
      div:first-of-type{
        display: flex;
        flex-flow: column;
        max-width: 540px;
        .buttons{
          display: none;
        }
        #img_com{
          a{
            width: 40vw;

            img{
              border-radius: 10px;
            }
          }
        }
      }
    }


    .accordian{
      display: none;
    }
    .grid{
      display: block;
      margin-top: 2em;
      div{
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
        padding: 0;
      }
      a{
        margin: .25em;
        border-radius: 10px;
        width: 100px;
        height: 100px;

        background-size: cover;
        -moz-background-size: cover;
        background-repeat: no-repeat;
      }
      }

  }
  #defi {
    .monTravail {

        .dosrs {
          width: 40vw;
        }
    }
  }

  .autre {
    header{
      div:last-of-type{
        right: 0;
      }
    }
    .monTravail {
      padding-bottom: 0;
    }
    .vist{
      video{
        max-height: 10rem;
      }
    }
  }

  #mez-trav,  #waw-cont{
    height: 110vh!important;
    >#trigger-left {
      display: block;
    }
  }

  #waw-cont{
    >div{
      &:first-of-type{
        margin-left: 0;
        .p-0;
        .p-l-s !important;
      }
    }
  }
}

@media (max-width:767px) and (orientation: landscape) {
  body{
    header, section {
      height: 150vh;
    }
  }
  #pcmoc, .dosrs {
    display: none;
  }

  .diag {
    header {
      .container {
        img {
          width: 50%;
          margin-left: 8rem;

          bottom: -20%;
        }
      }
    }
    #mez-trav {
      height : 150vh !important;
      flex-flow: row;
      justify-content: space-evenly;
      align-items: center;
      >div {
        margin-bottom: 40vh;
      }
    }
  }
}
@media (max-width: 530px) {
  #boutonSites.buttons {
    flex-flow:wrap;
  }
}
